[defaults]
# Use local hosts file in folder 
inventory = inventario/host-file
vault_password_file = inventario/group_vars/vault
# Don't worry about RSA Fingerprints
host_key_checking = False
# Auto Add Host Keys 
host_key_auto_add = True 
# Change Python Interpreter for Ansible 2.8
interpreter_python = /usr/bin/python3